# file directories

*results*/
*data*/
*ouptut*/
*log*/
*testing*/
*plots*/
__pycache__/
*/__pycache__/

# file extensions

*.pkl
*.pt
*.pth
*.parquet.gzip
*.csv
*.json


# playground cases
playground/*.png
playground/*.pdf
playground/*.csv
playground/*.pt
playground/*.pth
playground/*ipynb*
